
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;

}

.main__sec{
    background-image: url("./assets/images/flip.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat
}
.about__us{
  background-image: url("./assets/images/wave.jpg");
    height: 55v;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.user__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table__box{
    width: 50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }